// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
    font-family: "Satoshi-Regular";
    font-style: normal;
    font-weight: 400;
    src:   url('../../fonts/Satoshi-Regular.otf');
}
@font-face {
    font-family: "Satoshi-Medium";
    font-style: normal;
    font-weight: 400;
    src:   url('../../fonts/Satoshi-Medium.otf');
}
@font-face {
    font-family: "Satoshi-Black";
    font-style: normal;
    font-weight: 400;
    src:   url('../../fonts/Satoshi-Black.otf');
}
@font-face {
    font-family: "Satoshi-Bold";
    font-style: normal;
    font-weight: 400;
    src:   url('../../fonts/Satoshi-Bold.otf');
}
